@import '../../scss';
@import '../../scss';

.modal.signup {
  &-content {
    h2 {
      font-size: 35px;
      margin-bottom: 10px;
    }
    .desc {
      margin-bottom: 20px;
      line-height: 1.2;
    }
    .signin-button {
      display: block;
      padding-block: 15px;
      margin-inline: auto;
      border: 2px solid;
      width: 200px;
      border-radius: 30px;
      margin-bottom: 10px;
      transition: 0.3s background-color;
      .anticon {
        margin-right: 7px;
      }
    }
    .signin-facebook {
      border-color: $facebook-color;
      .anticon {
        color: $facebook-color;
      }
      &:hover {
        background-color: #d5dde9;
      }
    }
    .signin-github {
      border-color: $github-color;
      .anticon {
        color: $github-color;
      }
      &:hover {
        background-color: #d6dbe0;
      }
    }
    .signin-google {
      border-color: $google-color;
      .anticon {
        color: $google-color;
      }
      &:hover {
        background-color: #e9d2d0;
      }
    }
    .terms {
      margin-top: 30px;
      font-size: 15px;
      line-height: 1.2;
    }
  }
}
