@import '../../scss';

.change-passwd {
  label {
    display: block;
    text-align: start;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  input {
    padding: 20px 10px;
    border-radius: 15px;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: $white !important;
    font-size: 16px;
    margin-bottom: 5px;
    max-width: 600px;
  }
  .change-button {
    box-shadow: $box-shadow;
    border-radius: 30px;
    transition: 0.3s background-color;
    color: #fff;
    font-size: 18px;
    width: fit-content;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 20px 40px;
    background-color: $main-color;
    &:hover {
      background-color: $second-color;
    }
  }
  .error {
    height: 20px;
    color: $red;
  }
}
