@import '../../scss';

.profile-info {
  form {
    .info-header {
      @include flex(center, flex-start);
      margin-bottom: 1.2rem;
      height: 9.4rem;
      &-img {
        width: 9.4rem;
        .user-img {
          @include flex(center, center);
          height: 9.4rem;
          width: 9.4rem;
          background-color: $white;
          border-radius: 50%;
          border: 1px solid #e0e0e0;
          .anticon-user {
            font-size: 3.1rem;
          }
        }
        .user-avatar {
          height: 9.4rem;
          width: 9.4rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .user-name {
        font-size: 1.2rem;
        margin-left: 1.9rem;
        color: $main-color;
      }
    }
    .error {
      margin-bottom: 5px;
    }
  }
}
