@import '../../scss';

.profile {
  margin-top: 0.6rem;
  max-width: 1200px;
  margin-inline: auto;
  background-color: $white;
  border-radius: 0.6rem;
  box-shadow: $box-shadow;
  height: 100%;
  @include mobile {
    margin-top: 2rem;
  }
  &-box {
    height: 100%;
    @include flex(stretch, center);
  }
  &-tab {
    flex: 25%;
    border-right: 1px solid #e7e7e7;
    h2 {
      font-weight: 700;
      font-size: 1.5rem;
      margin-top: 1.6rem;
      text-align: center;
      margin-bottom: 1.9rem;
    }
    .tab-item {
      color: #847f7e;
      padding-block: 0.6rem;
      margin-left: 1.2rem;
      cursor: pointer;
      transition: 0.1s all;
      @include flex(center, flex-start);
      .anticon {
        margin-right: 0.6rem;
        font-size: 1.2rem;
      }
      &.active {
        border-right: 3px solid $main-color;
        color: $txt-color;
      }
      &:hover {
        border-right: 3px solid $main-color;
        color: $txt-color;
      }
    }
    .tab-item ~ .tab-item {
      margin-top: 0.95rem;
    }
  }
  &-right {
    flex: 75%;
    padding: 3.2rem 4rem 3rem;
  }
}
