$main-color: #fa9044;
$second-color: #ff6a00;
$third-color: #949aa2;
$txt-color: #26233b;
$facebook-color: #3982e4;
$github-color: #6c747c;
$google-color: #ec5346;

$white: #fff;
$black: #000;
$red: #ff0000;

$box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 10px 0px;

$main-font: 'Open Sans', sans-serif;

$mobile-width: 600px;
$tablet-width: 1024px;
