@import '../../scss';

.header {
  &-inner {
    padding-block: 1.2rem;
    @include flex(center, space-between);
  }
  &-logo {
    @include flex(center, center);
    .imgLogo {
      width: 2.5rem;
    }
    .textLogo {
      width: 6rem;
    }
  }
  &-navbar {
    a {
      font-size: 1.3rem;
      cursor: pointer;
      transition: 0.2s color;
      position: relative;
      padding-bottom: 0.2rem;
      padding-inline: 0.6rem;
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 0;
        background-color: $main-color;
        transition: 0.3s width;
      }
      &.active:after {
        width: 70%;
      }
      &:hover:after {
        width: 70%;
      }
    }
    a ~ a {
      margin-left: 0.6rem;
    }
  }
  &-button {
    &-item {
      color: $white;
      background-color: $main-color;
      padding: 0.94rem 1.9rem;
      font-size: 1.2rem;
      border-radius: 1.9rem;
      transition: 0.2s background-color;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px,
        rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
      margin-left: 0.6rem;
      &:hover {
        background-color: $second-color;
      }
    }
  }
  &-user-info {
    @include flex(center, center);
    .dropdown-box {
      position: relative;
      .dropdown-info {
        @include flex(center, center);
        padding: 0.3rem 0.9rem;
        background-color: #f7bc92;
        border-radius: 3.2rem;
        margin-bottom: 0.6rem;
        @include mobile {
          margin-bottom: 0;
        }
        cursor: pointer;
        .avatar {
          @include flex(center, center);
          width: 3.2rem;
          height: 3.2rem;
          background-color: $white;
          border-radius: 50%;
          box-shadow: $box-shadow;
          .anticon-user {
            font-size: 1.5rem;
          }
        }
        .user-img {
          width: 3.2rem;
          height: 3.2rem;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: $box-shadow;
        }
        .user-name {
          max-width: 9rem;
          margin-left: 0.6rem;
          font-size: 1.2rem;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          font-weight: 500;
        }
      }
      &:hover .dropdown-list {
        visibility: visible;
        opacity: 1;
      }
      .dropdown-list {
        visibility: hidden;
        opacity: 0;
        transition: 0.2s all;
        position: absolute;
        top: 70px;
        right: 5px;
        background-color: $white;
        border-radius: 0.3rem;
        box-shadow: $box-shadow;
        width: 14.3rem;
        padding: 0.95rem 1rem;
        @include mobile {
          top: 4.9rem;
        }
        .user-welcome {
          padding-inline: 0.6rem;
          @include flex(baseline, flex-start);
          font-size: 0.9rem;
          border-bottom: 1px solid #dddcdc;
          padding-bottom: 0.3rem;
          .user-name {
            color: $main-color;
            font-size: 1.1rem;
            margin-left: 0.3rem;
            max-width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            margin-right: 0.3rem;
          }
        }
        .dropdown-nav {
          display: block;
          padding: 0.6rem 0.6rem;
          border-radius: 0.5rem;
          &:hover {
            background-color: #e7e7e9;
          }
          &.active {
            background-color: $main-color;
            color: $white;
          }
        }
        .dropdown-nav ~ .dropdown-nav {
          margin-top: 0.4rem;
        }
        .user-profile {
          margin-top: 0.6rem;
        }
      }
    }
  }
}
