@import '../../scss';

.custom .custom-form {
  flex: 50%;
  flex-shrink: 0;
  padding: 1.2rem;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 0.6rem;
  .form-warning {
    margin-top: 0.95rem;
    font-size: 0.75rem;
    border: 1px solid #fcbc03;
    padding: 0.6rem 1.2rem;
    background-color: #fffbe6;
    border-radius: 0.3rem;
    .anticon-warning {
      color: #fcbc03;
      margin-right: 0.3rem;
      font-size: 1.1rem;
    }
  }
  @include mobile {
    margin-inline: 2.5rem;
  }
}
