@import '../../scss';

.custom .show-form {
  flex: 50%;
  flex-shrink: 0;
  padding: 20px;
  background-color: $white;
  box-shadow: $box-shadow;
  border-radius: 10px;
  label {
    display: block;
    text-align: start;
    font-weight: 500;
    margin-block: 10px;
  }
  input {
    padding: 20px 10px;
    border-radius: 15px;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: $white;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: text;
  }
  input:disabled {
    background-color: #e7e7e7;
    cursor: alias;
    pointer-events: none;
  }
  .form-box {
    position: relative;
    .anticon {
      position: absolute;
      right: 20px;
      font-size: 20px;
      top: 40%;
      transform: translateY(-50%);
      cursor: copy;
      padding: 5px;
    }
  }
  .error {
    color: #ff0000;
    height: 20px;
  }
  .button-box {
    @include flex(center, center);
    margin-block: 20px;
    .myurl-button,
    .return-button {
      flex: 50%;
      font-size: 18px;
      box-shadow: $box-shadow;
      border-radius: 30px;
      padding-block: 20px;
    }
    .myurl-button {
      transition: 0.3s all;
      color: $main-color;
      border: 1px solid $main-color;
      background-color: $white;
      &:hover {
        background-color: $main-color;
        color: $white;
      }
      margin-right: 20px;
    }
    .return-button {
      transition: 0.3s background-color;
      color: #fff;
      background-color: $main-color;
      &:hover {
        background-color: $second-color;
      }
    }
  }
}
