@import '../../scss';

.custom {
  max-width: 1200px;
  margin-inline: auto;
  border-radius: 0.6rem;
  padding-top: 1.2rem;
  img {
    margin-inline: auto;
    display: block;
    width: 25rem;
  }
  &-content {
    @include flex(center, flex-start);
    padding-block: 3.2rem;
    @include mobile {
      flex: 100%;
    }
    @include mobile {
      display: block;
    }
  }
  &-desc {
    flex: 40%;
    margin-left: 6.2rem;
    font-size: 1.2rem;
    .feature {
      li {
        @include flex(center, flex-start);
      }
      li ~ li {
        margin-top: 0.6rem;
      }
      .anticon {
        font-size: 1.5rem;
        color: $main-color;
        margin-right: 0.3rem;
      }
      @include mobile {
        display: none;
      }
    }
  }
}
