@import '../../scss';

.custom {
  max-width: 1200px;
  margin-inline: auto;
  border-radius: 10px;
  padding-top: 50px;
  img {
    margin-inline: auto;
    display: block;
  }
  &-content {
    @include flex(center, flex-start);
    padding-block: 50px;
  }
  &-desc {
    flex: 40%;
    margin-left: 100px;
    font-size: 20px;
    .feature {
      li {
        @include flex(center, flex-start);
      }
      li ~ li {
        margin-top: 10px;
      }
      .anticon {
        font-size: 25px;
        color: $main-color;
        margin-right: 5px;
      }
    }
  }
}
