@import '../../scss';

.myurls {
  max-width: 1200px;
  margin-inline: auto;
  box-shadow: $box-shadow;
  border-radius: 0.6rem;
  background-color: #fff;
  &-content {
    margin-top: 0.6rem;
    padding: 1.5rem 1.9rem;
    padding-bottom: 3.2rem;
    @include mobile {
      padding-inline: 0.3rem;
      margin-top: 2rem;
    }
    h2 {
      text-align: center;
      font-size: 2.2rem;
      margin-bottom: 1.2rem;
      font-weight: 500;
    }
    .urls-box {
      max-height: 575px;
      overflow-y: auto;
      overflow-x: auto;
      padding-right: 0.3rem;
      max-width: 100%;
      @include tablet {
        max-height: unset;
      }
      &::-webkit-scrollbar {
        height: 0.5rem;
        width: 0.5rem;
      }
      &::-webkit-scrollbar-thumb {
        background: $main-color;
        border-radius: 0.3rem;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $second-color;
      }
      table {
        width: 100%;
        border-spacing: 0;
        margin-bottom: 0.3rem;
        padding-left: 0.6rem;
        border-collapse: separate;
        border-spacing: 0 0.4rem;
        tbody {
          width: 100%;
          tr {
            transition: 0.2s all;
          }
          tr:first-child {
            background-color: #dddddd;
          }
          td,
          th {
            padding: 0.9rem 0.3rem;
            text-align: start;
            vertical-align: middle;
          }
          th {
            font-size: 1.15rem;
            font-weight: 500;
          }
          td {
            border-top: 1px solid #f0f0f0;
            border-bottom: 1px solid #dddddd;
          }
          tr td:first-child {
            border-left: 1px solid #dddddd;
          }
          tr td:last-child {
            border-right: 1px solid #dddddd;
          }
          tr th:first-child,
          tr td:first-child {
            border-bottom-left-radius: 0.6rem;
            border-top-left-radius: 0.6rem;
            padding-left: 0.9rem;
          }
          th:last-child,
          tr td:last-child {
            border-bottom-right-radius: 0.6rem;
            border-top-right-radius: 0.6rem;
          }
          tr:not(:first-child):hover {
            box-shadow: $box-shadow;
            background-color: #f7f9fc;
          }
          th.code-col {
            display: flex;
            align-items: center;
            .sort-box {
              margin-left: 0.3rem;
              display: flex;
              flex-direction: column;
              cursor: pointer;
              .anticon {
                font-size: 0.9rem;
                color: white;
                &.active {
                  color: $main-color;
                }
              }
            }
          }
          tr td:nth-child(1) {
            width: 5%;
          }
          tr td:nth-child(2) {
            width: 35%;
          }
          tr td:nth-child(3) {
            width: 15%;
          }
          tr td:nth-child(4) {
            width: 30%;
          }
          tr td:nth-child(5) {
            width: 13%;
          }
          .url {
            max-width: 25rem;
          }
          .code {
            max-width: 12.5rem;
          }
          .td-box {
            max-width: 18.8rem;
            display: flex;
          }
          .shortened-url {
            cursor: copy;
          }
          .url,
          .code,
          .shortened-url .url-text {
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
          .error-code,
          .error-url {
            color: $red;
            font-size: 0.8rem;
          }
          .shortened-url {
            position: relative;
            .copied {
              text-transform: uppercase;
              font-size: 0.8rem;
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              text-align: center;
              transform: translateY(-0.6rem);
              opacity: 0;
              visibility: hidden;
              transition: all 0.5s;
              color: rgb(58, 58, 58);
              z-index: 99;
              &.show {
                opacity: 1;
                visibility: visible;
                transform: translateY(-1.2rem);
              }
            }
          }
          .redirect-url {
            margin-left: 0.3rem;
            .anticon {
              color: $main-color;
            }
          }
          .new-code,
          .new-url {
            display: none;
            width: 100%;
            padding: 0.9rem 0.6rem;
            border-radius: 0.6rem;
            color: $txt-color;
            border: 1px solid $third-color;
            font-size: 0.9rem;
          }
          .button-box {
            margin-left: auto;
            width: fit-content;
            margin-right: 0.3rem;
            display: flex;
            button {
              color: $white;
              border-radius: 0.6rem;
              transition: 0.3s background-color;
              font-size: 0.85rem;
            }
            .delete-url {
              padding: 0.6rem 0.9rem;
              background-color: $main-color;
              margin-right: 0.3rem;
              &:hover {
                background-color: $second-color;
              }
            }
            .edit-url {
              background-color: #7359a8;
              padding: 0.6rem 0.6rem;
              &:hover {
                background-color: #5125aa;
              }
            }
            .cancel-edit,
            .cancel-delete {
              padding: 0.6rem 0.9rem;
              background-color: #8559e2;
              margin-right: 0.3rem;
              &:hover {
                background-color: #5d22db;
              }
            }
            .ok-edit,
            .ok-delete {
              background-color: #24c56f;
              padding: 0.6rem 0.6rem;
              &:hover {
                background-color: #0b9e50;
              }
            }
            .confirm-edit,
            .confirm-delete {
              display: none;
            }
          }
          tr.edit {
            box-shadow: $box-shadow;
            .delete-url,
            .edit-url {
              display: none;
            }
            td:first-child {
              border-left: 2px solid #7359a8;
            }
            td:last-child {
              border-right: 2px solid #7359a8;
            }
            td {
              border-top: 2px solid #7359a8;
              border-bottom: 2px solid #7359a8;
            }
            .code,
            .url {
              display: none;
            }
            .new-code,
            .new-url {
              display: block;
            }
            .confirm-edit {
              display: flex;
            }
          }
          tr.delete {
            box-shadow: $box-shadow;
            td:first-child {
              border-left: 2px solid $red;
            }
            td:last-child {
              border-right: 2px solid $red;
            }
            td {
              border-top: 2px solid $red;
              border-bottom: 2px solid $red;
            }
            .delete-url,
            .edit-url {
              display: none;
            }
            .confirm-delete {
              display: flex;
            }
          }
        }
      }
    }
  }
}
