@import '../../scss';

.myurl {
  max-width: 1200px;
  margin-inline: auto;
  box-shadow: $box-shadow;
  border-radius: 10px;
  background-color: #fff;
  &-content {
    margin-top: 30px;
    padding: 20px 30px;
    padding-bottom: 50px;
    h2 {
      font-size: 35px;
      margin-bottom: 20px;
      margin-left: 15px;
      font-weight: 500;
    }
    table {
      width: 100%;
      tbody {
        width: 100%;
        border-collapse: collapse;
        td,
        th {
          padding: 15px 20px;
          text-align: start;
          vertical-align: center;
        }
        th {
          background-color: #dddddd;
          font-size: 18px;
          font-weight: 500;
        }
        td {
          border-bottom: 1px solid #dddddd;
        }
        th:first-child {
          border-bottom-left-radius: 5px;
          border-top-left-radius: 5px;
        }
        th:last-child {
          border-bottom-right-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
  }
}
