@import './scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
}
html,
body {
  font-size: 100%;
  position: relative;
  height: 100%;
}

html {
  font-size: 100%;
  @include tablet {
    font-size: 80%;
  }
  @include mobile {
    font-size: 60%;
  }
}

.App {
  height: 100%;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $txt-color;
  font-family: $main-font;
  overflow-x: auto;
  overflow-y: auto;
}

ul,
li {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

form {
  label {
    display: block;
    text-align: start;
    font-weight: 500;
    margin-bottom: 0.6rem;
    font-size: 1.1rem;
    &:not(:first-child) {
      margin-top: 0.5rem;
    }
  }
  input {
    padding: 1.2rem 1rem;
    border-radius: 0.9rem;
    width: 100%;
    border: 1px solid #e7e7e7;
    background-color: $white !important;
    margin-bottom: 5px;
    font-size: 1rem;
    &:focus {
      border-color: $main-color !important;
    }
  }
  button {
    box-shadow: $box-shadow;
    border-radius: 1.9rem;
    transition: 0.3s background-color;
    color: #fff;
    font-size: 1.1rem;
    width: 100%;
    margin-bottom: 1.2rem;
    margin-top: 0.9rem;
    padding-block: 1.2rem;
    background-color: $main-color;
    &:hover {
      background-color: $second-color;
    }
    &:disabled {
      background-color: #f7b081;
    }
  }
  .error {
    height: 1.2rem;
    color: $red;
  }
}

a {
  color: unset;
  text-decoration: none;
}

.wrapper {
  background-image: url('./assests/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 1.9rem;
}

.container {
  max-width: 1450px;
  margin: auto;
  padding: 0 1rem;
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.nopage {
  max-width: 800px;
  text-align: center;
  background-color: $white;
  margin-inline: auto;
  margin-top: 3.2rem;
  border-radius: 0.6rem;
  box-shadow: $box-shadow;
  padding: 1.2rem 0.5rem 3.2rem;
  h1 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    color: $main-color;
  }
  .header {
    font-size: 1.3rem;
    font-weight: 500;
  }
  .desc {
    color: #8b8b8b;
  }
  .button {
    display: inline-block;
    background-color: $main-color;
    color: $white;
    margin-top: 1.2rem;
    font-size: 1.2rem;
    padding: 0.9rem 1.9rem;
    border-radius: 1.9rem;
    transition: 0.2s background-color;
    box-shadow: $box-shadow;
    &:hover {
      background-color: $second-color;
    }
  }
}
