@import './scss';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
}
html,
body {
  font-size: 100%;
  position: relative;
  height: 100%;
}

.App {
  height: 100%;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: $txt-color;
  font-family: $main-font;
  overflow: auto;
}

ul,
li {
  list-style-type: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
}

a {
  color: unset;
  text-decoration: none;
}

.wrapper {
  background-image: url('./assests/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 50px;
}

.container {
  max-width: 1450px;
  margin: auto;
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}
