@import '../../scss';

.modal .modal-content .button-box {
  @include flex(center, center);
  margin-bottom: 30px;
  .button-item {
    @include flex(center, center);
    border: 1px solid;
    border-radius: 15px;
    width: 60px;
    font-size: 23px;
    height: 60px;
    transition: 0.3s background-color;
    box-shadow: $box-shadow;
    background-color: #fff;
  }
  .signin-facebook {
    margin-left: 10px;
    border-color: $facebook-color;
    background-color: $white;
    .anticon {
      color: $facebook-color;
    }
    &:hover {
      background-color: #d5dde9;
    }
  }
  .signin-github {
    border-color: $github-color;
    margin-left: 10px;
    .anticon {
      color: $github-color;
    }
    &:hover {
      background-color: #d6dbe0;
    }
  }
  .signin-google {
    border-color: $google-color;
    .anticon {
      color: $google-color;
    }
    &:hover {
      background-color: #e9d2d0;
    }
  }
}
