@import '../../scss';

.modal {
  padding-bottom: 50px;
  &-content {
    padding: 25px 60px;
    text-align: center;
    h2 {
      font-size: 35px;
      margin-bottom: 10px;
    }
    .desc {
      margin-bottom: 20px;
      line-height: 1.2;
    }
    .form {
      label {
        display: block;
        text-align: start;
        font-weight: 500;
        margin-bottom: 10px;
      }
      input {
        padding: 20px 10px;
        border-radius: 15px;
        width: 100%;
        border: 1px solid #e7e7e7;
        background-color: $white !important;
        font-size: 16px;
        margin-bottom: 5px;
      }
      .signup-button,
      .signin-button {
        box-shadow: $box-shadow;
        border-radius: 30px;
        transition: 0.3s background-color;
        color: #fff;
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 15px;
        padding-block: 20px;
        background-color: $main-color;
        &:hover {
          background-color: $second-color;
        }
      }
      .error {
        height: 20px;
        color: red;
      }
    }
    .signin span,
    .signup span {
      margin-left: 5px;
      cursor: pointer;
      color: $main-color;
      font-weight: 500;
      font-size: 18px;
    }
    .seperate {
      display: inline-block;
      color: $third-color;
      font-weight: 500;
      font-size: 17px;
      position: relative;
      margin-top: 10px;
      margin-bottom: 15px;
      &:before {
        content: '';
        position: absolute;
        left: -90px;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        width: 75px;
        background-color: #dddcdc;
      }
      &:after {
        content: '';
        position: absolute;
        right: -90px;
        top: 50%;
        transform: translateY(-50%);
        height: 1px;
        width: 75px;
        background-color: #dddcdc;
      }
    }
  }
}
