@import '../../scss';

.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
  overflow: auto;
  &::-webkit-scrollbar {
    height: 0.6rem;
    width: 0.6rem;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 0.3rem;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 175, 175);
  }
  &::-webkit-scrollbar-track {
    background: #fff;
  }
  &-overlay {
    position: absolute;
    @include flex(center, center);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.9);
    padding-top: 1rem;
    padding-bottom: 3.2rem;
    @media screen and (max-height: 600px) {
      align-items: flex-start;
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
    .modal-container {
      transform: translateY(0);
    }
  }
  &-container {
    transform: translateY(-6.2rem);
    transition: all 0.4s;
    position: relative;
    min-width: 32rem;
    border-radius: 1.2rem;
    background-color: $white;
    box-shadow: $box-shadow;
    position: relative;
    .close-icon {
      position: absolute;
      right: 1.2rem;
      top: 5px;
      font-size: 2.5rem;
      color: rgb(102, 102, 102);
      cursor: pointer;
      transition: 0.3s color;
      &:hover {
        color: black;
      }
    }
  }
  &-content {
    overflow: hidden;
    height: 100%;
    padding: 1.6rem 3.75rem;
    text-align: center;
  }
}
